**/Übungsblätter/
**/Vorlesungsfolien/
Algebraische Grundlagen der Informatik/Lösungen/00_lsg_grundlagen.pdf
Kommunetze und -protokolle/Quizze/
Programmierung 2/Projekt_w_3/
Software Engineering/Quizze/
Programmierung 2/woche4
Algebraische Grundlagen der Informatik/Lösungen/*.pdf