**/Übungsblätter/
**/Vorlesungsfolien/
Algebraische Grundlagen der Informatik/Lösungen/00_lsg_grundlagen.pdf
Kommunetze und -protokolle/Quizze/
Programmierung 2/Projekt_w_3/
Software Engineering/Quizze/
Programmierung 2/woche4/javashooter-framework25
Programmierung 2/woche4/woche3-java-spaceinvaders
Programmierung 2/woche4/*.iml
Algebraische Grundlagen der Informatik/Lösungen/*.pdf
Programmierung 2/Quizze
Programmiermethoden und -werkzeuge 2/Uebungen/
Programmierung 2/woche4/out
Programmierung 2/woche4/.idea
Web-Applikationen/myAppWeek5/node_modules/
.env
*.log
.DS_Store
